<h1>Users</h1>

<% @users.each do |user| %>
    <%= link_to 
    "Name: #{user.name} - Created Events: (#{user.created_events}) - Attended Events: (#{user.attended_events})", 
user_path(user) %>
    <hr />
<% end %>
